{% extends "base.html" %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Автоальбом</h1>
        <p class="lead text-body-secondary">Выберите модель автомобиля, чтобы просмотреть подробную информацию.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for car in cars %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/cars/{{ car.brand | lower }}/{{ car.brand | lower }}_{{ car.model | lower }}.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{ car.brand }} {{ car.model }}">
            <div class="card-body">
              <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
              <p class="card-text">{{ car.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/auto/{{ car.brand|lower }}/{{ car.model|lower }}" class="btn btn-sm btn-outline-primary">Посмотреть</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
